<!DOCTYPE HTML>
<html>
<script src="static/libs/jquery-1.9.1.js" type="text/javascript"></script>
<script src="static/libs/underscore.js" type="text/javascript"></script>
<script src="static/libs/jquery.binarytransport.js" type="text/javascript"></script>
<script src="bifparser.js" type="text/javascript"></script>
<script src="baseConverter.js" type="text/javascript"></script>
<body>
  <p>BIF Parser</p>
  <var>
  <p><button onclick="playBifFile1()">play <var id="input1">http://localhost/~ramalis/bif/tests/Kochadaiyaan.bif</var></button></p>
  <p><button onclick="playBifFile2()">play <var id="input2">http://localhost/~ramalis/bif/tests/Thegidi.bif</var></button></p>
  <p><button onclick="redirect()">Satheesh Ram</button></p>
</body>
</html>
