<!DOCTYPE HTML>
<html>
<head>
  <title>BIF Parser/Player</title>
  <script src="static/libs/jquery-1.9.1.js" type="text/javascript"></script>
  <script src="static/libs/underscore.js" type="text/javascript"></script>
  <script src="static/libs/jquery.binarytransport.js" type="text/javascript"></script>
  <script src="static/app.js" type="text/javascript"></script>
  <script src="static/js/baseConverter.js" type="text/javascript"></script>
</head>
<body>
  <p>BIF Parser/Player</p>
  <select name="movie" id="movie">
    <option value="Kochadaiyaan">Kochadaiyaan</option>
    <option value="Thegidi">Thegidi</option>
  </select>
  <p><button onclick="playBifFile()">play</button></p>
  <p><button onclick="redirect()">Satheesh Ram</button></p>
</body>
</html>
